<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html>

<head>
    <title>django-nonrel testapp with django-bootstrap-toolkit</title>
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
</head>

<body>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">django-nonrel testapp with django-bootstrap-toolkit</a>
            <ul class="nav">
                <li><a href="{% url post_add %}">Add Post</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}No content yet, <a href="{% url post_add %}">add some</a>.{% endblock %}
</div>

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <p class="navbar-text pull-right">By <a href="http://jmoz.co.uk">James Morris</a> <a href="http://twitter.com/jwmoz">@jwmoz</a>. Based on <a href="https://github.com/django-nonrel/django-testapp">django-testapp</a>, powered by <a href="https://github.com/django-nonrel/django-nonrel">django-nonrel</a> and <a href="https://github.com/dyve/django-bootstrap-toolkit">django-bootstrap-toolkit</a>.</p>
        </div>
    </div>
</div>